{% extends 'base.html.twig' %}
{% block body %}
<!-- <link rel="stylesheet" href="{{asset('/css/main2.css')}}" /> -->
<!--<link rel="stylesheet" href="{{asset('/css/main2.css')}}" />-->
<link rel="stylesheet" href="{{asset('/css/main.css')}} " />
<div >
<img class="toto"src="{{asset('/images/tourisme.jpg')}}">
</div>
<br>
<body>
<h1 align ="center">SEJOUR TOURISTIQUE</h1>
<div class> 
<table width ="100%" align = "middle" cellspacing = "20">
<tr>
<td width = "5%" valign ="top">
<div align ="justify"> 
</td>

<td width = "10%" valign ="top">
<div align ="justify"> 
<br>
</td>
<td width = "12%" valign ="top">
<div align ="justify"> 
</td>
<td width ="50%" valign = "left">
  <div align="justify"> 
  <h2 align ="center">Quelques mots sur Martué et les environs</h2>
  <p><span class = "taille">Avec ses 150 habitants et ses quelques fermes encore en activité, Martué est un petit village qui respire l'authenticité.
   Il est courant de voir un troupeau de vaches traverser le village pour se rendre d'une pâture à l'autre.
  Une jolie petite chapelle du 18ème siècle au centre du village lui confère un charme particulier.
  Son ancien moulin et le pont sur la Semois forment un ensemble pittoresque.
  <br>
  <br>
  <div class="conteneur"> 
<img src= "{{asset('/images/Martue.jpg')}}" valign = "center" width="300" height="200"> 
</div>
  <br>
  <br>
  Son aménagement comprend un camping "à la ferme", un gîte, des chambres d’hôte et un refuge.</span></p>
  <div class="conteneur"> 
 <img src= "" > 
  </div> 
 <p><span class = "taille">La ville de Florenville est à 2 kilomètres, la forêt des Épioux, à 5 minutes plus au Nord, est un des territoires les plus giboyeux de Belgique.
</span></p>
 </div>
</td>
<td width = "5%" valign ="top">
<div align ="justify"> 
</td>
<td width = "10%" valign ="top">
<div align ="justify"> 
<h3 align="center"><span class = "taille">Dans les proches environs , vous pouvez également visiter:</span></h3>
<a href ="http://www.orval.be/fr/">L'Abbaye d'Orval et son histoire</a>
<br>
<br>
<a href="http://www.chiny.be/page/eglise-de-jamoigne.html">Jamoigne et son église de style roman</a>
<br>
<br>
<a href="http://www.tourisme-montmedy.fr/montmedy-citadelle.php">Montmédy et sa citadelle</a>
<br>
<br>
<a href=https://www.bouilloninitiative.be/>Bouillon et sa forteresse</a>
<br>
<br>
<a href=https://www.chateau-fort-sedan.fr/>Sedan et son plus grand château fort d'Europe</a>
<br>
<br>
<a href=http://www.mouzon.fr/tourisme.asp?IDR=101027
>Mouzon:ville historique</a>
</td>
<td width = "5%" valign ="top">
</td>









</td>

</body>
























{% endblock %}